@using LibreriaFJDR.Models;
@model LibreriaFJDR.Models.Libro

@{
    string isbn = ViewBag.ISBN;
    ViewBag.Title = "ModificarLibro";
    Libro libro = new LogicaLibro().ObtenerLibro(ViewBag.ISBN);
}

<style>

    .cajon {
        font-family: monospace;
        width: 100%;
        float: left;
        /*border: 1px solid black;*/
        padding: 10px;
        margin: 25px;
        display: inline-block;
    }

    input {
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
    }

    .prueba {
        display: inline-block;
    }

    .cajonUno {
        width: 100%;
        display: inline-flex;
    }

        .cajonUno label {
            border-bottom: 1px solid black;
            width: 600px;
        }
</style>




<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("EditarLibro", "Admin", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="cajon">
                <h2>Datos</h2>
                @Html.Hidden("isbn", isbn)
                <div class="cajonUno">
                    <label>PRECIO : </label>
                    <label>@libro.Precio</label>
                    <input type="number" placeholder="nuevo precio" name="precio" style="border-radius: 15px; border: 2px solid orange" />
                </div>
                <div class="cajonUno">
                    <label>UNIDADES : </label>
                    <label>@libro.Unidades</label>
                    <input type="number" placeholder="nuevas unidades" name="unidades" style="border-radius: 15px; border: 2px solid orange" />
                </div>
                <div><input type="submit" value="Modificar Libro" class="btn btn-default" style=" border: 1px solid black;" /></div>
            </div>
            }
        </section>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}