.contenedorCard {
    margin-top: 500px;
    width: 80%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
}

    .flex-container div {
        margin: 5px;
        border-bottom: 1px solid orange;
    }

.card {
    border: 3px solid rgb(128, 128, 128);
    width: 95%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    display: flex;
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 16px rgba(0,0,0,0.2);
    }

.imagen {
    float: left;
    height: auto;
    width: auto;
    margin: 10px;
    border: 1px solid orange;
}

    .imagen img {
        height: 100%;
        width: 100%;
    }

.contenido {
    float: right;
    padding: 20px;
    width: 100%;
    padding: 10px;
    height: 100%;
}

    .contenido div {
        font-size: 16px;
    }

    .contenido p {
        overflow: auto;
        height: 200px;
        font-size: 16px;
    }

    .contenido h4 {
        font-size: 30px;
    }

    .contenido hr {
        border: 2px solid #fc9;
    }

.contenedorSearch {
    /*background-color: rgb(245, 222, 138 );*/
    position: fixed;
    margin-top: 0px;
    margin-left: 260px;
    z-index: 10;
    width: 400px;
    height: 40px;
    left: 20px;
    display: flex;
    font-size: 14px;
}
